NODE_ENV=development
PORT=3000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=beemor_registry
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

PGADMIN_DEFAULT_EMAIL=admin@beemor.local
PGADMIN_DEFAULT_PASSWORD=admin123
PGADMIN_PORT=5050

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/beemor_registry?schema=public"
